# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
Medical_Examiner_API/appsettings.Development.json
Medical_Examiner_APIMElogging.txt

.idea/.idea.Medical_Examiner_API/riderModule.iml
.idea/.idea.Medical_Examiner_API/.idea/contentModel.xml
.idea/.idea.Medical_Examiner_API/.idea/encodings.xml
.idea/.idea.Medical_Examiner_API/.idea/indexLayout.xml
.idea/.idea.Medical_Examiner_API/.idea/modules.xml
.idea/.idea.Medical_Examiner_API/.idea/vcs.xml
.idea/.idea.Medical_Examiner_API/.idea/workspace.xml
.idea/.idea.MedicalExaminer.API/.idea/.name
.idea/.idea.MedicalExaminer.API/.idea/contentModel.xml
.idea/.idea.MedicalExaminer.API/.idea/encodings.xml
.idea/.idea.MedicalExaminer.API/.idea/indexLayout.xml
.idea/.idea.MedicalExaminer.API/.idea/modules.xml
.idea/.idea.MedicalExaminer.API/.idea/vcs.xml
.idea/.idea.MedicalExaminer.API/.idea/workspace.xml
.idea/.idea.MedicalExaminer.API/riderModule.iml
MedicalExaminer.API/appsettings.Development.json
